*__pycache__
.idea/

pre_process/assets/*.pth
pre_process/assets/*.tar

pre_process/flownet_networks/channelnorm_package/build
pre_process/flownet_networks/channelnorm_package/channelnorm_cuda.egg-info
pre_process/flownet_networks/channelnorm_package/dist

pre_process/flownet_networks/correlation_package/build
pre_process/flownet_networks/correlation_package/correlation_cuda.egg-info
pre_process/flownet_networks/correlation_package/dist

pre_process/flownet_networks/resample2d_package/build/
pre_process/flownet_networks/resample2d_package/resample2d_cuda.egg-info
pre_process/flownet_networks/resample2d_package/dist


pretrained_ckpts/

ckpt/
log/
eval/

presentation